#tabela {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: left;
    font-family: Arial, sans-serif;
}

#tabela thead {
    background-color: #f4f4f4;
}

#tabela th, #tabela td {
    border: 1px solid #ddd;
    padding: 10px;
}

#tabela th {
    background-color: #4CAF50;
    color: white;
}

#load-btn {
    margin: 20px auto;
    padding: 10px 20px;
    display: block;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
